name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    # - name: Install dependencies
    #   uses: php-actions/composer@v6
    #   with:
    #     dev: no
    #     args: --profile --ignore-platform-reqs
        
    - name: Deploy
      uses: easingthemes/ssh-deploy@main
      env:
        SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY_TCC }}
        SOURCE: "./"
        REMOTE_HOST: ec2-18-231-109-22.sa-east-1.compute.amazonaws.com
        REMOTE_USER: ec2-user
        PROJECT: web.laravel
        FORCE_DEPLOY: true
        TARGET: /var/www
        EXCLUDE: ".env"
        ARGS: "-rlgoDzvc -i --delete"
